<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>FeatherMVC</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <!-- tailwuind -->
   <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

  <link rel="shortcut icon" href="/image/image-removebg-preview.png" type="image/x-icon">
</head>
<body>

  <main>
    {{content}}
  </main>
<!-- THIS IS THE MAIN HTML FILE -->
 <!-- THE {{content}} is the main container for your feather application -->
  <!-- You can add links for stylesheet,js file. -->
  <script src="/js/app.js" defer></script>


</body>
</html>
